.container {
    padding: 0 20px 0 20px;
    position: center;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.text_color {
    text-align: center;
    color: blue;
}